# Machine Learning - Homework 5.2

In [ ]:
import pandas as pd
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score, confusion_matrix
from sklearn.ensemble import (
    BaggingClassifier,
    AdaBoostClassifier,
    RandomForestClassifier,
    BaggingRegressor,
    AdaBoostRegressor,
    RandomForestRegressor
)
import xgboost as xgb

In [ ]:
REGRESSION_MODEL_NAMES = [
    'BaggingRegressor',
    'AdaBoostRegressor',
    'RandomForestRegressor'
]

def read_csv_and_analyze_dataset(path_to_csv):
  dataframe = pd.read_csv(path_to_csv)

  print("The dataset:")
  print(dataframe, end='\n\n')

  print("All the unique values for all columns that contain discrete values:")

  for column_name in dataframe:
    if not pd.api.types.is_numeric_dtype(dataframe[column_name]):
      print(f"\n{column_name}:")

      for unique_value in dataframe[column_name].unique():
        print(f"{unique_value} ({len(dataframe.loc[dataframe[column_name] == unique_value])})")

  print()

  return dataframe

def transform_binary_and_nominal_columns(dataframe, column_names):
  transformer = make_column_transformer(
    (OneHotEncoder(drop='if_binary'), column_names),
    remainder='passthrough'
  )

  transformed = transformer.fit_transform(dataframe)

  return pd.DataFrame(
      transformed,
      columns=transformer.get_feature_names_out()
  )

def transform_ordinal_columns(dataframe, column_names):
  dataframe[column_names] = OrdinalEncoder().fit_transform(
      dataframe[column_names]
  )

  return dataframe

def train_test_and_visualize_model(X, y, model):
    X_train, X_test, y_train, y_test = train_test_split(
        X,
        y,
        test_size=0.2,
        shuffle=True
    )

    model.fit(X_train, y_train)

    y_pred = model.predict(X_test)

    if type(model).__name__ in REGRESSION_MODEL_NAMES:
        print("Mean squared error: %.2f" % mean_squared_error(y_test, y_pred))
        print("Coefficient of determination: %.2f" % r2_score(y_test, y_pred))
    else:
        print("Accuracy: %.2f" % model.score(X_test, y_test))
        print("Confusion matrix:")
        print(confusion_matrix(y_test, y_pred))

## Apply bagging, boosting and random forests in R or Python for the Pima Indians Diabetes data set

In [ ]:
diabetes_df = read_csv_and_analyze_dataset('diabetes.csv')

The dataset:
     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age  Outcome
0                       0.627   50        1
1                       0.351   31        0
2                       0.672   32        1
3                       0.167   21        0
4                       2.288   33        1
..                        ...  ...      ...
763                     0.171   63        0
764                     0.340   27        0
765                     0.245   30        0
766                     0.349   47        1
767                     0.315   23        0

[768 rows x 9 columns]

All the unique values for all columns that contain discrete values:

In [ ]:
diabetes_y = diabetes_df.pop('Outcome')

In [ ]:
train_test_and_visualize_model(diabetes_df, diabetes_y, BaggingClassifier())

Accuracy: 0.81
Confusion matrix:
[[95 10]
 [19 30]]

In [ ]:
train_test_and_visualize_model(diabetes_df, diabetes_y, AdaBoostClassifier())

Accuracy: 0.78
Confusion matrix:
[[81 14]
 [20 39]]

In [ ]:
train_test_and_visualize_model(
    diabetes_df,
    diabetes_y,
    RandomForestClassifier()
)

Accuracy: 0.69
Confusion matrix:
[[76 17]
 [31 30]]

## Apply bagging and boosting in R or Python for regression on the Boston data set

In [ ]:
boston_df = read_csv_and_analyze_dataset('Boston.csv')

The dataset:
     Unnamed: 0     crim    zn  indus  chas    nox     rm   age     dis  rad  \
0             1  0.00632  18.0   2.31     0  0.538  6.575  65.2  4.0900    1
1             2  0.02731   0.0   7.07     0  0.469  6.421  78.9  4.9671    2
2             3  0.02729   0.0   7.07     0  0.469  7.185  61.1  4.9671    2
3             4  0.03237   0.0   2.18     0  0.458  6.998  45.8  6.0622    3
4             5  0.06905   0.0   2.18     0  0.458  7.147  54.2  6.0622    3
..          ...      ...   ...    ...   ...    ...    ...   ...     ...  ...
501         502  0.06263   0.0  11.93     0  0.573  6.593  69.1  2.4786    1
502         503  0.04527   0.0  11.93     0  0.573  6.120  76.7  2.2875    1
503         504  0.06076   0.0  11.93     0  0.573  6.976  91.0  2.1675    1
504         505  0.10959   0.0  11.93     0  0.573  6.794  89.3  2.3889    1
505         506  0.04741   0.0  11.93     0  0.573  6.030  80.8  2.5050    1

     tax  ptratio   black  lstat  medv
0    296     15.3  396.90   4.98  24.0
1    242     17.8  396.90   9.14  21.6
2    242     17.8  392.83   4.03  34.7
3    222     18.7  394.63   2.94  33.4
4    222     18.7  396.90   5.33  36.2
..   ...      ...     ...    ...   ...
501  273     21.0  391.99   9.67  22.4
502  273     21.0  396.90   9.08  20.6
503  273     21.0  396.90   5.64  23.9
504  273     21.0  393.45   6.48  22.0
505  273     21.0  396.90   7.88  11.9

[506 rows x 15 columns]

All the unique values for all columns that contain discrete values:

In [ ]:
boston_y = boston_df.pop('medv')

In [ ]:
train_test_and_visualize_model(boston_df, boston_y, BaggingRegressor())

Mean squared error: 10.73
Coefficient of determination: 0.85

In [ ]:
train_test_and_visualize_model(boston_df, boston_y, AdaBoostRegressor())

Mean squared error: 12.81
Coefficient of determination: 0.75

## Apply random forests in R or Python for the car price data set regression task

In [ ]:
car_df = read_csv_and_analyze_dataset('CarPrice.csv')

The dataset:
     car_ID  symboling                   CarName fueltype aspiration  \
0         1          3        alfa-romero giulia      gas        std
1         2          3       alfa-romero stelvio      gas        std
2         3          1  alfa-romero Quadrifoglio      gas        std
3         4          2               audi 100 ls      gas        std
4         5          2                audi 100ls      gas        std
..      ...        ...                       ...      ...        ...
200     201         -1           volvo 145e (sw)      gas        std
201     202         -1               volvo 144ea      gas      turbo
202     203         -1               volvo 244dl      gas        std
203     204         -1                 volvo 246   diesel      turbo
204     205         -1               volvo 264gl      gas      turbo

    doornumber      carbody drivewheel enginelocation  wheelbase  ...  \
0          two  convertible        rwd          front       88.6  ...
1          two  convertible        rwd          front       88.6  ...
2          two    hatchback        rwd          front       94.5  ...
3         four        sedan        fwd          front       99.8  ...
4         four        sedan        4wd          front       99.4  ...
..         ...          ...        ...            ...        ...  ...
200       four        sedan        rwd          front      109.1  ...
201       four        sedan        rwd          front      109.1  ...
202       four        sedan        rwd          front      109.1  ...
203       four        sedan        rwd          front      109.1  ...
204       four        sedan        rwd          front      109.1  ...

     enginesize  fuelsystem  boreratio  stroke compressionratio horsepower  \
0           130        mpfi       3.47    2.68              9.0        111
1           130        mpfi       3.47    2.68              9.0        111
2           152        mpfi       2.68    3.47              9.0        154
3           109        mpfi       3.19    3.40             10.0        102
4           136        mpfi       3.19    3.40              8.0        115
..          ...         ...        ...     ...              ...        ...
200         141        mpfi       3.78    3.15              9.5        114
201         141        mpfi       3.78    3.15              8.7        160
202         173        mpfi       3.58    2.87              8.8        134
203         145         idi       3.01    3.40             23.0        106
204         141        mpfi       3.78    3.15              9.5        114

     peakrpm citympg  highwaympg    price
0       5000      21          27  13495.0
1       5000      21          27  16500.0
2       5000      19          26  16500.0
3       5500      24          30  13950.0
4       5500      18          22  17450.0
..       ...     ...         ...      ...
200     5400      23          28  16845.0
201     5300      19          25  19045.0
202     5500      18          23  21485.0
203     4800      26          27  22470.0
204     5400      19          25  22625.0

[205 rows x 26 columns]

All the unique values for all columns that contain discrete values:

CarName:
alfa-romero giulia (1)
alfa-romero stelvio (1)
alfa-romero Quadrifoglio (1)
audi 100 ls (1)
audi 100ls (2)
audi fox (1)
audi 5000 (1)
audi 4000 (1)
audi 5000s (diesel) (1)
bmw 320i (2)
bmw x1 (1)
bmw x3 (2)
bmw z4 (1)
bmw x4 (1)
bmw x5 (1)
chevrolet impala (1)
chevrolet monte carlo (1)
chevrolet vega 2300 (1)
dodge rampage (1)
dodge challenger se (1)
dodge d200 (1)
dodge monaco (sw) (1)
dodge colt hardtop (1)
dodge colt (sw) (1)
dodge coronet custom (1)
dodge dart custom (1)
dodge coronet custom (sw) (1)
honda civic (3)
honda civic cvcc (2)
honda accord cvcc (1)
honda accord lx (1)
honda civic 1500 gl (1)
honda accord (2)
honda civic 1300 (1)
honda prelude (1)
honda civic (auto) (1)
isuzu MU-X (1)
isuzu D-Max  (2)
isuzu D-Max V-Cross (1)
jaguar xj (1)
jaguar xf (1)
jaguar xk (1)
maxda rx3 (1)
maxda glc deluxe (1)
mazda rx2 coupe (1)
mazda rx-4 (2)
mazda glc deluxe (2)
mazda 626 (3)
mazda glc (2)
mazda rx-7 gs (2)
mazda glc 4 (1)
mazda glc custom l (1)
mazda glc custom (1)
buick electra 225 custom (1)
buick century luxus (sw) (1)
buick century (1)
buick skyhawk (1)
buick opel isuzu deluxe (1)
buick skylark (1)
buick century special (1)
buick regal sport coupe (turbo) (1)
mercury cougar (1)
mitsubishi mirage (1)
mitsubishi lancer (1)
mitsubishi outlander (3)
mitsubishi g4 (3)
mitsubishi mirage g4 (3)
mitsubishi montero (1)
mitsubishi pajero (1)
Nissan versa (1)
nissan gt-r (1)
nissan rogue (2)
nissan latio (2)
nissan titan (1)
nissan leaf (1)
nissan juke (1)
nissan note (1)
nissan clipper (2)
nissan nv200 (1)
nissan dayz (1)
nissan fuga (1)
nissan otti (1)
nissan teana (1)
nissan kicks (1)
peugeot 504 (6)
peugeot 304 (1)
peugeot 504 (sw) (1)
peugeot 604sl (2)
peugeot 505s turbo diesel (1)
plymouth fury iii (2)
plymouth cricket (1)
plymouth satellite custom (sw) (1)
plymouth fury gran sedan (1)
plymouth valiant (1)
plymouth duster (1)
porsche macan (1)
porcshce panamera (1)
porsche cayenne (2)
porsche boxter (1)
renault 12tl (1)
renault 5 gtl (1)
saab 99e (2)
saab 99le (2)
saab 99gle (2)
subaru (2)
subaru dl (4)
subaru brz (1)
subaru baja (1)
subaru r1 (1)
subaru r2 (1)
subaru trezia (1)
subaru tribeca (1)
toyota corona mark ii (1)
toyota corona (6)
toyota corolla 1200 (2)
toyota corona hardtop (1)
toyota corolla 1600 (sw) (1)
toyota carina (1)
toyota mark ii (3)
toyota corolla (6)
toyota corolla liftback (2)
toyota celica gt liftback (1)
toyota corolla tercel (1)
toyota corona liftback (1)
toyota starlet (2)
toyota tercel (1)
toyota cressida (1)
toyota celica gt (1)
toyouta tercel (1)
vokswagen rabbit (1)
volkswagen 1131 deluxe sedan (1)
volkswagen model 111 (1)
volkswagen type 3 (1)
volkswagen 411 (sw) (1)
volkswagen super beetle (1)
volkswagen dasher (2)
vw dasher (1)
vw rabbit (1)
volkswagen rabbit (1)
volkswagen rabbit custom (1)
volvo 145e (sw) (2)
volvo 144ea (2)
volvo 244dl (2)
volvo 245 (1)
volvo 264gl (2)
volvo diesel (1)
volvo 246 (1)

fueltype:
gas (185)
diesel (20)

aspiration:
std (168)
turbo (37)

doornumber:
two (90)
four (115)

carbody:
convertible (6)
hatchback (70)
sedan (96)
wagon (25)
hardtop (8)

drivewheel:
rwd (76)
fwd (120)
4wd (9)

enginelocation:
front (202)
rear (3)

enginetype:
dohc (12)
ohcv (13)
ohc (148)
l (12)
rotor (4)
ohcf (15)
dohcv (1)

cylindernumber:
four (159)
six (24)
five (11)
three (1)
twelve (1)
two (4)
eight (5)

fuelsystem:
mpfi (94)
2bbl (66)
mfi (1)
1bbl (11)
spfi (1)
4bbl (3)
idi (20)
spdi (9)

In [ ]:
car_df = car_df.drop(['CarName'], axis=1)

binary_and_nominal_column_names = ['fueltype', 'aspiration', 'doornumber',
                                   'carbody', 'drivewheel', 'enginelocation',
                                   'enginetype', 'cylindernumber', 'fuelsystem']

car_df = transform_binary_and_nominal_columns(
    car_df,
    binary_and_nominal_column_names
)

car_y = car_df.pop('remainder__price')

In [ ]:
train_test_and_visualize_model(car_df, car_y, RandomForestRegressor())

Mean squared error: 2459397.42
Coefficient of determination: 0.94

## Research XGBoost (gradient boosting), explain its concept of weak learners training on residuals and apply it on the Iris data set in either R or Python

XGBoost is a powerful algorithm that employs an ensemble of decision trees as weak learners. What sets it apart is its iterative training process. In each step, it builds a new tree to correct the errors (residuals) of the current ensemble. This sequential learning, combined with gradient descent optimization, makes XGBoost highly effective in gradually improving its predictive performance.

In [ ]:
iris_df = read_csv_and_analyze_dataset('iris.csv')

The dataset:
     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

All the unique values for all columns that contain discrete values:

variety:
Setosa (50)
Versicolor (50)
Virginica (50)

In [ ]:
# This column is not actually ordinal, but we will need to apply an 'ordinal'
# transformation to it in order to use it as 'y' in a multiclass classification
# problem
iris_df = transform_ordinal_columns(iris_df, ['variety'])

iris_y = iris_df.pop('variety')

In [ ]:
xgb_model = xgb.XGBClassifier(
    objective="multi:softmax",
    num_class=len(set(iris_y))
)

train_test_and_visualize_model(iris_df, iris_y, xgb_model)

Accuracy: 1.00
Confusion matrix:
[[10  0  0]
 [ 0 10  0]
 [ 0  0 10]]