# Data Mining - Homework 1

In [ ]:
from google.colab import drive

drive.mount('/content/gdrive/', force_remount=True)

Mounted at /content/gdrive/

In [ ]:
import pandas as pd

data_set_train = pd.read_csv("/content/gdrive/MyDrive/DataMining/loan_sanction_train.csv")
data_set_test = pd.read_csv("/content/gdrive/MyDrive/DataMining/loan_sanction_test.csv")

data_set = pd.concat([data_set_train, data_set_test])

data_set.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

## 1. Describe the dataset with respect to

### a. The number and types of attributes

In [ ]:
# Note: The ID column is included (which should be removed at feature selection)
print(f'The number of attributes is {data_set.shape[1]}.')

The number of attributes is 13.

In [ ]:
ATTRIBUTE_TYPES = {
    'numerical': 'numerical',
    'ordinal': 'ordinal',
    'nominal': 'nominal', # OR categorical
    'binary': 'binary',
}

attributes = {
    'Loan_ID': ATTRIBUTE_TYPES['nominal'],
    'Gender': ATTRIBUTE_TYPES['nominal'],
    'Married': ATTRIBUTE_TYPES['binary'],
    'Dependents': ATTRIBUTE_TYPES['ordinal'],
    'Education': ATTRIBUTE_TYPES['binary'],
    'Self_Employed': ATTRIBUTE_TYPES['binary'],
    'ApplicantIncome': ATTRIBUTE_TYPES['numerical'],
    'CoapplicantIncome': ATTRIBUTE_TYPES['numerical'],
    'LoanAmount': ATTRIBUTE_TYPES['numerical'],
    'Loan_Amount_Term': ATTRIBUTE_TYPES['numerical'],
    'Credit_History': ATTRIBUTE_TYPES['binary'],
    'Property_Area': ATTRIBUTE_TYPES['nominal'],
    'Loan_Status': ATTRIBUTE_TYPES['binary']
}

attributes

{'Loan_ID': 'nominal',
 'Gender': 'nominal',
 'Married': 'binary',
 'Dependents': 'ordinal',
 'Education': 'binary',
 'Self_Employed': 'binary',
 'ApplicantIncome': 'numerical',
 'CoapplicantIncome': 'numerical',
 'LoanAmount': 'numerical',
 'Loan_Amount_Term': 'numerical',
 'Credit_History': 'binary',
 'Property_Area': 'nominal',
 'Loan_Status': 'binary'}

### b. Distribution of the instances per classes

In [ ]:
data_set['Loan_Status'].value_counts()

Y    422
N    192
Name: Loan_Status, dtype: int64

## 2. Summarize each of the attributes:

### a. Numerical: mean, standard deviation, min, max, quartiles

### b. Categorical: number of distinct values, mode

In [ ]:
for attribute_name in data_set.columns:
  print(data_set[attribute_name].describe())
  print('_____________________________')

count          981
unique         981
top       LP001002
freq             1
Name: Loan_ID, dtype: object
_____________________________
count      957
unique       2
top       Male
freq       775
Name: Gender, dtype: object
_____________________________
count     978
unique      2
top       Yes
freq      631
Name: Married, dtype: object
_____________________________
count     956
unique      4
top         0
freq      545
Name: Dependents, dtype: object
_____________________________
count          981
unique           2
top       Graduate
freq           763
Name: Education, dtype: object
_____________________________
count     926
unique      2
top        No
freq      807
Name: Self_Employed, dtype: object
_____________________________
count      981.000000
mean      5179.795107
std       5695.104533
min          0.000000
25%       2875.000000
50%       3800.000000
75%       5516.000000
max      81000.000000
Name: ApplicantIncome, dtype: float64
_____________________________
count      981.000000
mean      1601.916330
std       2718.772806
min          0.000000
25%          0.000000
50%       1110.000000
75%       2365.000000
max      41667.000000
Name: CoapplicantIncome, dtype: float64
_____________________________
count    954.000000
mean     142.511530
std       77.421743
min        9.000000
25%      100.000000
50%      126.000000
75%      162.000000
max      700.000000
Name: LoanAmount, dtype: float64
_____________________________
count    961.000000
mean     342.201873
std       65.100602
min        6.000000
25%      360.000000
50%      360.000000
75%      360.000000
max      480.000000
Name: Loan_Amount_Term, dtype: float64
_____________________________
count    902.000000
mean       0.835920
std        0.370553
min        0.000000
25%        1.000000
50%        1.000000
75%        1.000000
max        1.000000
Name: Credit_History, dtype: float64
_____________________________
count           981
unique            3
top       Semiurban
freq            349
Name: Property_Area, dtype: object
_____________________________
count     614
unique      2
top         Y
freq      422
Name: Loan_Status, dtype: object
_____________________________

## 3. Give an example of a data mining task which can be solved for the dataset

A data mining task which can be solved for the dataset is **classification**.